absl-py==0.9.0
affine==2.3.0
amqp==2.5.2
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anyjson==0.3.3
args==0.1.0
asn1crypto==1.2.0
astor==0.8.0
attrs==19.3.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.1
bleach==3.1.0
blinker==1.4
cachetools==3.1.1
certifi==2020.4.5.1
cffi==1.13.2
chardet==3.0.4
Click==7.0
clint==0.5.1
cloudpickle==1.3.0
clyent==1.2.2
coco==0.4.0
colorama==0.4.3
conda==4.8.3
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
cPython==0.0.4
cryptography==2.8
cycler==0.10.0
Cython==0.29.14
cytoolz==0.10.1
dask==2.11.0
decorator==4.4.1
defusedxml==0.6.0
docopt==0.6.2
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
future==0.18.2
gast==0.2.2
geos==0.2.2
glob2==0.7
google-auth==1.11.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.27.2
idna==2.8
imagecodecs==2019.12.3
imageio==2.8.0
imgaug==0.3.0
importlib-metadata==1.3.0
ipykernel==5.1.3
ipython==7.10.2
ipython-genutils==0.2.0
ipywidgets==7.5.1
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.3
joblib==0.14.0
json5==0.8.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyterlab==1.2.4
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
kombu==4.6.8
libarchive-c==2.8
lxml==4.4.2
Mako==1.1.2
Markdown==3.1.1
MarkupPy==1.14
MarkupSafe==1.1.1
matplotlib==3.1.3
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==8.0.2
mrcnn==0.2
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.4
notebook==6.0.2
numpy==1.17.4
oauthlib==3.1.0
odfpy==1.4.0
olefile==0.46
opencv-python-headless==4.1.2.30
openpyxl==3.0.2
opt-einsum==3.1.0
pandocfilters==1.4.2
parso==0.5.2
pickleshare==0.7.5
Pillow==6.2.1
pkginfo==1.5.0.1
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==3.0.2
protobuf==3.11.4
psutil==5.6.7
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycocotools==2.0
pycosat==0.6.3
pycparser==2.19
Pygments==2.5.2
pygpu==0.7.6
PyJWT==1.7.1
pymongo==3.9.0
pyOpenSSL==19.1.0
pyparsing==2.4.5
pyreadline==2.1
pyrsistent==0.15.6
PySocks==1.7.1
python-crontab==2.4.0
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.2
pyzmq==18.1.1
qtconsole==4.6.0
QtPy==1.9.0
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
ruamel-yaml==0.15.87
scikit-image==0.16.2
scipy==1.2.0
Send2Trash==1.5.0
Shapely==1.6.4.post2
six==1.13.0
soupsieve==1.9.5
tablib==0.14.0
tensorboard==2.1.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
Theano==1.0.4
tifffile==2019.7.26.2
toolz==0.10.0
torch==1.3.1+cpu
torchvision==0.4.2+cpu
tornado==6.0.3
tqdm==4.40.2
traitlets==4.3.3
urllib3==1.25.7
vboxapi==1.0
vine==1.3.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
xlwt==1.3.0
zipp==0.6.0
